<div class="col-12 col-md-4 mb-4 mx-auto">
        <div class="card">
                <div class="card-body">
                        <h5 class="card-title">{{blog_post.title}}</h5>
                        <p class="card-content">
                        {% if truncate %}
                                {{blog_post.content | linebreaks | truncatewords:30}}
                        {% else %}
                                {{blog_post.content | linebreaks}}
                        {% endif %}

                        </p>
                        {% if not detail %}
                                <a href="{{blog_post.get_absolute_url}}">onward to blog post...</a>
                        {% endif %}
                </div>
        </div>
</div>